<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Nadadors</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
    <h1>Llista de proves</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Tipus</th>
            <th scope="col">Descripció</th>
            <th scope="col">Nadadors</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prova: ${proves}">
            <td th:text="${prova.nom}"></td>
            <td th:text="${prova.tipus}"></td>
            <td th:text="${prova.descripcio}"></td>
            <td><a th:href="@{/classificacio/perpais/{nomprova}(nomprova=${prova.nom})}">Per pais</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="add">Afegeix prova</a>
</body>
</html>